.footer {
  background-color: #1f1f1f;
  color: #e0e0e0;
  padding: 1rem 0.5rem;
  border-top: 1px solid #333;
  font-size: 0.75rem;
}

.footer-main {
  background-color: #1f1f1f;
  color: #e0e0e0;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.75rem;
}

.footer-image {
  margin: 0.5rem;
  flex: 0 0 auto;
}

.footer-image img {
  width: 100px;
  height: auto;
  margin: 1rem;
  border-radius: 80px;
}

.footer-section {
  max-width: 250px;
  margin: 1rem;
  flex: 1;
  text-align: justify;
}

.footer-section h2 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: #bb86fc;
}

.footer-section p {
  font-size: 0.75rem;
  line-height: 1.2;
  margin: 0.25rem 0;
}

.footer-section p a {
  color: #bb86fc;
  text-decoration: none;
}

.footer-section p a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 1rem;
  font-size: 0.875rem;
  color: #a0a0a0;
}

.footer-bottom p {
  margin: 0;
}
