@import "nav.css";
@import "home.css";
@import "footer.css";
@import "registration.css";
@import "login.css";
@import "404.css";
@import "addTrade.css";
@import "allTrades.css";

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
