@import "nav.css";
@import "home.css";
@import "footer.css";
@import "registration.css";
@import "login.css";
@import "404.css";
@import "addTrade.css";
@import "allTrades.css";
@import "tradeDetails.css";
@import "editTrade.css";

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Arial", sans-serif;
  padding: 0;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
}
