.trade-details {
  padding: 0rem 2rem 2rem 2rem;
  color: #e0e0e0;
  background-color: #121212;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.trade-details h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.trade-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.trade-details-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  max-height: 400px;
  flex: 1;
}

.trade-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trade-info p {
  font-size: 1.2rem;
}

.trade-info strong {
  color: #bb86fc;
}

.details-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.details-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1rem;
  background-color: #bf8ffa;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.details-link:hover {
  background-color: #3700b3;
  transform: scale(1.05);
}

.edit-link {
  background-color: #03dac6;
  font-weight: bold;
}

.edit-link:hover {
  background-color: #018786;
  transform: scale(1.1);
}

.liked {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #03dac6;
  font-weight: bold;
  margin-top: 1rem;
}
